{% extends 'base.html' %}
{% load static %}

{ % block title %}{{catalogo | title}}{% endblock title %}

{ % block contenido %}  
{% for producto in productos %}
    <div class="card" style="width: 18rem;">
        <img src="{% static producto.imagen %}" class="card-img-top" alt="{{ producto.nombre }}">
        <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text">{{ producto.descripcion }}</p>
            <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
{% endfor %}
{% endblock contenido %}